Smart_Email_Query_Responder.json
{
  "name": "Smart Email Query Responder",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -320
      ],
      "id": "4bc232a2-a4d0-4768-b8bd-dad0c702d853",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "0zb9yzWlBKNKm9ba",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support ",
              "description": "it could emails asked by our customers regarding our policies , services , products etc. .anything regarding Power BI"
            },
            {
              "category": "other",
              "description": "any other mail , that is not customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        60,
        -320
      ],
      "id": "e1a16520-6da3-44c5-96d2-fd4c81a46b77",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        -120
      ],
      "id": "285cc5a8-b507-4069-90c7-31604d47de0b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "31RF6YbrJUCbJNGb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        640,
        -140
      ],
      "id": "d88fe843-175b-4536-982a-8ddc9a8d364e",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant , help respond to mail coming to inquiring about doubts in power BI, help solve those and use emoji and friendly tone and sign off as Mr.Helpful"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        -360
      ],
      "id": "37373ce3-37fa-4578-904a-997de66adcbe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        -120
      ],
      "id": "85db8142-6095-42f8-b91a-eb6466638c81",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "31RF6YbrJUCbJNGb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -360
      ],
      "id": "02d70c48-e94d-419a-979c-00ba20d8a038",
      "name": "Gmail",
      "webhookId": "edbd02b2-1415-40f5-8b5f-bad2f27a7a7d",
      "credentials": {
        "gmailOAuth2": {
          "id": "0zb9yzWlBKNKm9ba",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16V2Rb8EUosoUdcZx5JZIJE6bdvrCb1yCLGVh2Gs7sDE",
          "mode": "list",
          "cachedResultName": "Ticket",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16V2Rb8EUosoUdcZx5JZIJE6bdvrCb1yCLGVh2Gs7sDE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16V2Rb8EUosoUdcZx5JZIJE6bdvrCb1yCLGVh2Gs7sDE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Description": "={{ $json.text }}",
            "Ticket": "={{ $json.subject }}",
            "Date": "={{ $('Gmail Trigger').item.json.date }}"
          },
          "matchingColumns": [
            "Ticket"
          ],
          "schema": [
            {
              "id": "Ticket",
              "displayName": "Ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        420,
        -420
      ],
      "id": "247262b3-38cd-4c7b-8ee8-f8c21f12bea0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9mpKlEX3xMVSokkM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "PowerBI",
        "toolDescription": "Work with your data in superbase and help give appropriate answer",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        1120,
        -60
      ],
      "id": "11fac89c-92b0-4b46-bfd9-3845cece3495",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "mzkzw4qTa9Trf8wQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        980,
        640
      ],
      "id": "e160c8ea-3d1a-458d-b2d8-9b13807ece0f",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "mzkzw4qTa9Trf8wQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1060,
        960
      ],
      "id": "52d6e430-a89d-4c7e-87bb-4e4394097452",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "31RF6YbrJUCbJNGb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1320,
        880
      ],
      "id": "0095eebd-be1a-48e3-8806-5860fc89fb66",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1240,
        180
      ],
      "id": "409a72e2-e228-4c7c-b0b8-5a1c75bca2d8",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "31RF6YbrJUCbJNGb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "path": "/power-bi-transform-model.pdf"
      },
      "type": "n8n-nodes-base.dropbox",
      "typeVersion": 1,
      "position": [
        280,
        500
      ],
      "id": "9cc6b997-3df2-49ab-945f-bcff5d13cbac",
      "name": "Dropbox",
      "credentials": {
        "dropboxOAuth2Api": {
          "id": "My42q080HZjy8bFn",
          "name": "Dropbox account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -20,
        540
      ],
      "id": "85dbf56e-5a18-422f-8cb0-b55dc8f64ead",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        300,
        860
      ],
      "id": "10c061b0-451a-4875-a0d8-70c9761aeb37",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3feb1e2e-e2bf-48cb-a77d-59f1d3ac886a",
              "name": "text",
              "value": "={{ $json.data.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        560
      ],
      "id": "b819ece8-c11e-4127-8f3a-d8004ea3301b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1460,
        1100
      ],
      "id": "a1a93a9c-08e5-4a64-82b1-3330787128cd",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Dropbox": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Dropbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a71350ef-f275-4f96-8658-63dcbd398b1a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "403aeab7037243b036cb45c63ab8e507c711596481fa3f94df81ff63db8bebaa"
  },
  "id": "gDyQhblC5hAXZKE7",
  "tags": []
}